parameters:
#	databases:
#		application:
#			database: foo
#			port: 5432
#			username:  # set in config.local.neon
#			password:  # set in config.local.neon

#	mailing:
#		from: 'Robot <robot@localhost>'


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days
	savePath: "%tempDir%/../sessions"


services:
	router: App\RouterFactory::createRouter

	# Factories
	- App\Factories\FormFactory

	# Latte
	- App\UI\LatteFilters(%wwwDir%)


#extensions:
#	dibi.application: Dibi\Bridges\Nette\DibiExtension22
#	replicator: Kdyby\Replicator\DI\ReplicatorExtension


#dibi.application:
#	# autowired: no
#	driver: postgre
#	host: localhost
#	port: %databases.application.port%
#	database: %databases.application.database%
#	username: %databases.application.username%
#	password: %databases.application.password%
#	lazy: TRUE
