<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{ifset title}{include title |striptags}{/ifset}</title>

	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<link rel="stylesheet" href="{$basePath}/css/main.css?v={='css/main.css' |mTime}">
	<script src="{$basePath}/js/main.js?v={='js/main.js' |mTime}"></script>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

	<script>{include '@inline.js'}</script>
</body>
</html>
